.fixed-left-side {
    box-sizing: border-box;
    width: 300px;
}

.fixed-dashboard {
    box-sizing: border-box;
    margin-bottom: 50px;
}

.fixed-footer {
    width: 100%;
    height: 70px;
    background-color: black;
}

.h1-fixed-footer {
    margin-top: 25px;
}